.container
  %p#notice= notice

  %p
    %b Name:
    = @user.name
  %p
    %b Email:
    = @user.email
  %p
    %b Phone:
    = @user.phone
  %p
    %b Address:
    = @user.address
  %p
    %b City:
    = @user.city
  %p
    %b State:
    = @user.state
  %p
    %b Zip:
    = @user.zip

  %a.btn.btn-primary{href: new_user_car_path(current_user)} Add a Car

  %br
  %br
  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
