.container
  .center
    %h2.page-header.w2w-header
      %td
        = @car.name
      %td
        #ajax.small-car
          = render 'car_app/charging_small'

    .row-fluid
      &nbsp;

    = form_for @car do |f|
      - if @car.errors.any?
        #error_explanation
          %h2= "#{pluralize(@car.errors.count, "error")} prohibited this from being saved:"
          %ul
            - @car.errors.full_messages.each do |msg|
              %li= msg

      .row_fluid.app
        .field.app
          Car charged by

      .row_fluid.app
        .field.app
          = f.time_field(:charge_end_time, :ampm => true, :minute_step => 15)

      .row_fluid.app
        &nbsp;

      .row_fluid.app
        .field.app
          Charging rate kw

      .row_fluid.app
        .field.app
          = f.select(:charging_rate_kw, [['1.2kw', 1.2],['3.3kw', 3.8], ['6.6kw', 6.6], ['10kw', 10]], {}, {class: 'big-select'})

      .row_fluid.app
        &nbsp;

      .actions
        = f.submit 'Start Smart Charge!', class: 'big-button'

    -#.row-fluid
    -#.span4.offset4
    .green_highlight
      You saved 82 lbs of CO2!


:javascript

  function update() {
  $.ajax({
      type: 'GET',
      url: '/car_app/charging_small',
      timeout: 2000,
      success: function(data) {
        if ($('#ajax').length) {
          $('#ajax').html(data);
          window.setTimeout(update, 2000);
        }
      }
    });
  }
  update();

