.container
  .center
    %h2.section-heading
      = @car.name

    .row-fluid
      &nbsp;

    .row_fluid.app
      = form_for @car do |f|
        - if @car.errors.any?
          #error_explanation
            %h2= "#{pluralize(@car.errors.count, "error")} prohibited this from being saved:"
            %ul
              - @car.errors.full_messages.each do |msg|
                %li= msg

        .field.app
          Car charged at
          = f.time_field(:charge_end_time, :ampm => true, :minute_step => 15)

        .field.app
          Charging rate kw:
          = f.select(:charging_rate_kw, [['1.2kw', 1.2],['3.3kw', 3.8], ['6.6kw', 6.6], ['10kw', 10]], {}, {class: 'big-select'})

        .field.app
          Carwings username:
          = f.text_field(:carwings_id)

        .field.app
          Carwings password:
          = f.password_field(:carwings_password)

        .actions
          = f.submit 'Ok', class: 'big-button'

    .row-fluid


    .bs-docs-section
      .row
        .col-lg-12
          #ajax
            = render 'charging'

    %b Charging rate kw:
    = @car.charging_rate_kw
  %p
    %b Carwings:
    = @car.carwings_id
  %p
    %b Carwings password:
    = @car.carwings_password

  %p
    %b Target charge end time:
    = @car.charge_end_time

  = link_to 'Edit', edit_car_path(@car)


:javascript

  setInterval(function(){
    $.get("/car_app/charging", function(data){
      $("#ajax").html(data);
    },
    "html")
  }, 3000);
