.container
  .row-fluid
    = @car.name

  .row-fluid
    Car charge deadline (24-hour time)

  .row_fluid
    = form_for @car do |f|
      - if @car.errors.any?
        #error_explanation
          %h2= "#{pluralize(@car.errors.count, "error")} prohibited this from being saved:"
          %ul
            - @car.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :time
        -#= c.time_field(:charge, :target_end)
        = time_select(:car, :charge_end_time, :ampm => true, :minute_step => 15)

      .actions
        = f.submit 'Save'

  .row-fluid







  .bs-docs-section
    .row
      .col-lg-12
        #ajax
          = render 'charging'


  %p#notice= notice

  %p
    %b Name:
    = @car.name
  %p
    %b Year:
    = @car.year
  %p
    %b Make:
    = @car.make
  %p
    %b Model:
    = @car.model
  %p
    %b Color:
    = @car.color
  %p
    %b License plate:
    = @car.license_plate
  %p
    %b Vin:
    = @car.vin
  %p
    %b Battery kwh:
    = @car.battery_kwh
  %p
    %b Charging rate kw:
    = @car.charging_rate_kw
  %p
    %b Kwh per 100 miles:
    = @car.kwh_per_100_miles
  %p
    %b Carwings:
    = @car.carwings_id
  %p
    %b Carwings password:
    = @car.carwings_password

  %p
    %b Target charge end time:
    = @car.charge_end_time

  %p
    %b Full charge time:
    = @car.full_charge_time
  %p
    %b Note:
    = @car.note

  = link_to 'Edit', edit_car_path(@car)
  \|
  = link_to 'Back', cars_path



:javascript

  setInterval(function(){
    $.get("/car_app/charging", function(data){
      $("#ajax").html(data);
    },
    "html")
  }, 1000);
