!!!
%html
  %head
    %title Wind2wheels

    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Power your electric vehicle and home from wind, not fuel", name: "description"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = favicon_link_tag 'favicon.png', :type => 'image/png'

    %link{:href => "/assets/apple-touch-icon-120x120.png", :rel => "apple-touch-icon-precomposed"}/

  %body

    = render 'layouts/navbar'

    = yield